<!DOCTYPE html>
<html>
    <head>
        <title>ZIP Code Look Up</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
          #submit-form {
            margin-top: 40px;
          }

          .lead-form {
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 5px;
            padding: 10px 50px 30px 50px;
            margin-top: 100px;
          }

          span.city-span {
            color: (#444);
            text-transform: uppercase;
            margin-left: 5px;
            margin-top: 10px;
          }

          .form-control {
            margin-bottom: 3px;
          }
        </style>
    </head>
    <body>
      <div id="app">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="lead-form">
                <h1 class="text-center">Enter Both Zip Codes</h1>
                <hr />
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Starting Zip (5-digit number)" v-model="startingZip">
                    <span class="city-span">{{startingCity}}</span>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Ending Zip (5-digit number)" v-model="endingZip">
                    <span class="city-span">{{endingCity}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-primary btn-block" id="submit-form">Submit</button>
                  </div>
                </div>
              </div><!-- end of .lead-form -->
            </div><!-- end of .col-md-6.col-md-offset-3 -->
          </div><!-- end of .row -->
        </div><!-- end of .container -->
      </div>
      <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
      <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
      <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>

      <script>
          var app = new Vue({
            el: '#app',
            data:{
              startingZip:"",
              startingCity:"",
              endingZip:"",
              endingCity:""
            },
            watch:{
              startingZip:function(){
                this.startingCity = ''
                if (this.startingZip.length==5){
                  this.lookupStartingZip()
                }
              },
              endingZip: function() {
                this.endingCity = ''
                if (this.endingZip.length == 5) {
                  this.lookupEndingZip()
                }
              }
            },
            methods:{
              lookupStartingZip: _.debounce(function(){
                var app = this
                app.startingCity="Searching..."
                axios.get('http://ziptasticapi.com/' + app.startingZip)
                .then(function (response) {
                  if (!response.data.city ){
                    app.startingCity= "Invalid Zipcode"
                  }else{
                    app.startingCity = response.data.city + ', ' + response.data.state
                  }
                })
                .catch(function (error) {
                  app.startingCity = "Invalid Zipcode"
                })
              }, 500),
              lookupEndingZip: _.debounce(function() {
                var app = this
                app.endingCity = "Searching..."
                axios.get('http://ziptasticapi.com/' + app.endingZip)
                      .then(function (response) {
                        if (!response.data.city ){
                          app.endingCity = "Invalid Zipcode"
                        }else{
                          app.endingCity = response.data.city + ', ' + response.data.state
                        }                        
                      })
                      .catch(function (error) {
                        app.endingCity = "Invalid Zipcode"
                      })
              }, 500)
            }
          })
      </script>
    </body>
</html>
